<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNBoxue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E082DF1F1D5D62EA009F743D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E082DF331D5D62EA009F743D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E082DF3E1D5D62EA009F743D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
